extends layout

block content

	div(ng-controller="landingController")

		h1 Hello Boulder!

		//- {{message}}

		button.btn.btn-default(type="button")
			a(href="form") Sign-up in 15 seconds!

		//- div(ng-view)