extends layout

block content

	div(ng-controller="landingController")

		//- {{message}}

		container
			.jumbotron.text-center
				h1
					|  Signup and start winning!
					p Login or Register with:
					a.btn.btn-default(href='/signup', type="button")
						span.fa.fa-user
							|  Signup in 15 Seconds!
					a.btn.btn-default(href='/login')
						span.fa.fa-user
							|  Login
					a.btn.btn-primary(href='/auth/facebook')
						span.fa.fa-facebook
						|  Facebook