extends layout

block content

	div(ng-controller="landingController")


	.row
		.col-sm-offset-1.col-sm-6
			.well.text-center
				h1.title Win €1,000 Daily!

				h2.subtitle Just watch the ads and win - easy peasy!

					br
					br
				.row
					.col-sm-6.center-block
						img(src="tv.png")
						h3 Watch the Ads
						p Watch 2 x 30 second ads to be entered in the raffle. We all hate ads, so that's we made fun, week-long series for you to follow. 

					.col-sm-6.center-block
						img(src="raffle.png")
						h3 Enter the Raffle
						p We'll give you a reference number after watching. We pick 1 winner every single day! We just love giving out cash. Enter everyday if you wish.
					.col-sm-6
						.spacer-30
				.row
					.col-sm-6.center-block
						img(src="check-phone.png")
						h3 Check at 7pm!
						p Login back on this site or check your email inbox at 7pm (from Monday-Friday) to see if you are that day's winner! Pretty exciting, huh?

					.col-sm-6.center-block
						img(src="money-1.png")
						h3 Win €1,000 Cash!
						p We send you €1,000 cash! We just need to send it to you email address for you to claim it. Enter again any other day if you wish!

				h2 Is This Real?
				p.para Yes! We're real people in a real office doing real things! We're based in Galway City. See here for information on the founding team.

				h2 How Does WinFree Make Money?
				p.para We make money by charging the advertisers to display their videos and messages, and then we hand winnings down to you, our beloved users. We keep some for ourself, of course.

				h2 Do I have to live in Ireland?
				p.para You must be resident in the Republic of Ireland to enter and receive your prize money. 

				h2 How Many Times Can I Enter?
				p.para You can enter once per day! Do not attemp to enter more than once per day, however, or you will be permanently excluded. 

			.spacer-70
			.border

			.row
				.col-sm-12
					.footer
						.col-sm-5.center
						.col-sm-1
							img(src="facebook.png" height="30px" width="30px")
						.col-sm-1
							img(src="twitter.png" height="30px" width="30px")
					.row
						.col-sm-12.center
							p WinFree.ie 2016




		//-  Fixed Column
		.col-sm-4.affix
			//- .text-center
			img(src="charlie-sheen-1-1.png" height="180" width="180")
			.well
				h1
					.fa.fa-sign-in 
					|  Signup in Seconds!
				.container
					.col-sm-6.col-sm-offset-3
							//- show messages that come back with authentication
						if message.length
							.alert.alert-danger= message

						//- this is the signup form
					form(action='/signup', method='post')
						.form-group
						label Email
							input.form-control(type='text', name='email' size="30")
						.form-group
						label Password
							input.form-control(type='password', name='password' size="30")
							br
							button.btn.btn-warning.btn-lg(type='submit') Signup
					br
					p
						| Have a facebook account? 
						
						br
						a.btn.btn-primary(href='/auth/facebook')
							span.fa.fa-facebook
							|  Facebook
					p
						| Already have an account? 
						a(href='/login') Login
					//- p
					//- 	| Or go 
					//- 	a(href='/') home
					//- 	| .
				

		



						
	