extends layout

block content

	div(ng-controller="landingController")


	.row
		.col-sm-offset-1.col-sm-6
			.well.text-center
				h1.title Win €1,000 Daily!

				h2 Just watch the 30 second ads you're entered into the raffle!

					br
					br

					p.features
						i.fa.fa-check(aria-hidden='true') 
						| Watch 2 x 30 second videos
					p.features 
						i.fa.fa-check(aria-hidden='true') 
						| Be Entered in the Raffle
					p.features 
						i.fa.fa-check(aria-hidden='true') 
						| Check back here or your email at 7pm to see 		   if you won!
					p.features 
						i.fa.fa-check(aria-hidden='true') 
						| Fun ads 		


		//-  Fixed Column
		.col-sm-4.affix
			//- .text-center
			img(src="charlie-sheen-1-1.png")
			.well
				h2 Signup in 15 seconds!
				a.btn.btn-default(href='/signup', type="button")
					span.fa.fa-user
					|  Signup in 15 Seconds!
				br
				br
				a.btn.btn-primary(href='/auth/facebook')
					span.fa.fa-facebook
					|  Facebook


				
	