doctype html
html(lang='en', ng-app="winApp")
	head
		meta(charset="utf-8")
		title Win Free ng1
		link(rel="stylesheet" type="text/css" href="main.css")
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', type='text/css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')

	body
		.row
			#navcontainer
				.col-sm-1
						a(href="/")
							p.logo WinFree
				.col-sm-offset-7.col-sm-4
					ul.padpad
						li.navi.extra-pad 
							a(href="#") How it works
						li.navi.extra-pad
							a(href="#") FAQ
						li.navi.but
							a.btn.btn-default(href='/login')
								span.fa.fa-user
									|  Login

		block content


		script.
			window.fbAsyncInit = function() {
			FB.init({
			appId      : '680909698714083',
			xfbml      : true,
			version    : 'v2.5'
			});
			};
			(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-resource.min.js")
		script(src="main.js")
