extends layout

block content

		.container
					//- show messages that come back with authentication
			if message.length
					.alert.alert-danger= message
			.row
				.col-sm-6.col-sm-offset-3
					//- this is the login form
				form(action='/login', method='post')
					.form-group.deform.center
						h1 
							.fa.fa-sign-in
							|  Login
						label Email
							input.form-control(type='text', name='email', size="30")
						.form-group
						label Password
							input.form-control(type='password', name='password', size="30")
							
							br

							button.btn.btn-warning.btn-lg(type='submit') Login
							hr
						p
							| Need an account? 
							a(href='/signup') Signup
						p
							| Or go 
							a(href='/') home
							| .
