extends layout

block content
	br
	br
	br
	br
	.row
		.col-sm-offset-4.col-sm-4
			//- this is the login form
			form(ng-submit='login()', ng-controller='loginForm')
				.form-group
					label Email
					input.form-control(type='text', ng-model='email')
				.form-group
					label Password
					input.form-control(type='password', ng-model='password')
				.button.btn.btn-warning.btn-lg(ng-click="login()" type='submit') Login
			br
			p
				| Need an account? 
				a(href='/') 
					span.signup-color Signup
			p
				| Or go 
				a(href='/') 
					span.signup-color home
				| .
