extends layout

block content

	div(ng-controller="referenceController")
		br
		br
		h2.center Thank you for watching! 
		br
		h2.center Your Reference Number is: 
			span.ref-color #
			span.ref-color {{random}}
		br
		h2.center Check back again for tomorrow's video! 
			br
			br
			a.btn.btn-primary(href='/profile').go-back Back to profile!

	