extends layout

block content

	div(ng-controller="referenceController")
		br
		br
		br
		h1.center Your Reference number is: 
			span.ref-color #
			span.ref-color {{random}}
			br
			br
			br
			br
			
			a.btn.btn-primary(href='/profile').go-back Back to profile!

	