extends layout

block content

	div(ng-controller="videoController")

		//- h1 De Video

		.row
			.col-sm-12
				h2.center  Watch the ads and you'll be entered in the raffle! 

		br
		br
		.row
			.col-sm-12
				iframe.center-block(width='700', height='400', src='https://www.youtube.com/embed/VtvjbmoDx-I', frameborder='0', allowfullscreen='')