body {
	background-color: yellow !important;
	font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif !important;
}

/** NAV **/
.logo {
	font-size: 40px;
}

.navi {
	font-size: 18px;
}

.navi.extra-pad  {
	text-decoration: underline;
}

.padpad {
	padding-top: 12px;
}

li.navi {
	margin-right: 10px;
	margin-left: 40px;
}

.navi.but {
	margin-left: 50px;
}
a {
	text-decoration: none !important;
	color: inherit !important;
}

li {
	display: inline;
}

ul {
	text-decoration: none;
	list-style-type: none;
}

.btn.btn-default:hover {
	background-color: #3284d6;
	border-bottom: 3px solid #005bb7;
}

.btn.btn-default {
	background-color: #06c;
	border-bottom: 3px solid #005bb7;
}

.btn.btn-default.logout {
	background-color: white;
	border-bottom: 3px solid  #06c;;
}

.fa.fa-user {
	color: white;
}

.fa.fa-user.tolog {
	color: blue;
}

/** Centering & Spacing **/
.center {
	text-align: center
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.spacer-30 {
	padding-top: 30px;
}

.spacer-70 {
	padding-top: 70px;
}

/** Features Section **/
.center-block p {
	font-size: 16px;
}

.title {
	font-size: 40px;
}

/** Is this real **/

.para {
	font-size: 16px;
}

/*** Fixed Column ***/
.affix {
	right: 0;
}

.well {
	background-color: #fdfdfc !important;
	color: black;
	font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif !important
}

/* Signup */
.btn.btn-primary {
	font-size: 20px;
	color: white !important;
}

.fa.fa-facebook {
	color: white;
}

/** Reference Page **/
.ref-color {
	color: blue;
}


/** Login  **/
.deform {
	width:400px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fdfdfc;
	border: 1px solid #e3e3e2;
	border-radius: 6px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 60px;
}

.vertical {
	display: inline-block;
    vertical-align: middle;
    float: none;
}

.signup-color {
	color: blue;
}

/** Profile  **/
.footer-profile {
	padding-top: 3%;
	padding-bottom: 5%;
	background-color: yellow;
}

.video-button {
	margin-top: 11px;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 15px;
	padding-right: 5px;
	background-color: #33cc33;
	color: white !important;
/*	font-weight: bold;
*/	border-radius: 4px;
	display: block;
	width: 230px;
	border: 2px solid #29a329;
	font-size: 20px;
}

.video-button:hover {
	background-color: #2eb82e;
}

.profile-border {
	border-top: 1px solid grey;
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

.streak {
	text-align: center;
	font-size: 60px;
}


/** Footer **/
.border {
	border-top: 1px solid grey;
    display: block;
    width: 100%;
}

.footer {
	padding-top: 6%;
	padding-bottom: 10%;
	background-color: yellow;
}

/** Reference **/
.go-back {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

/** Profile Play **/
.bar-chart {
  background: #FFCFC7;
  height: 4rem;
  margin-bottom: 4rem;
  border-radius: 7px;

}
.bar-chart .bar-chart--inner {
  background: #333;
  height: 100%;
  display: block;
  margin-bottom: .3rem;
  position: relative;
  will-change: width;
  border-radius: 7px;
}

.bar-chart .bar-chart--inner-2 {
  background: #333;
  height: 100%;
  display: block;
  margin-bottom: .3rem;
  position: relative;
  will-change: width;
  border-radius: 7px;
}

.bar-chart .bar-chart--inner-3 {
  background: #333;
  height: 100%;
  display: block;
  margin-bottom: .3rem;
  position: relative;
  will-change: width;
  border-radius: 7px;
}

.bar-chart .bar-chart--inner:after {
  position: absolute;
  top: 0;
  right: 0;
  content: " ";
  width: 1rem;
  height: 130%;
  background: rgba(242, 255, 255, .9);
}
.bar-chart .bar-chart--inner-2:after {
  position: absolute;
  top: 0;
  right: 0;
  content: " ";
  width: 1rem;
  height: 130%;
  background: rgba(242, 255, 255, .9);
}

.bar-chart .bar-chart--inner-3:after {
  position: absolute;
  top: 0;
  right: 0;
  content: " ";
  width: 1rem;
  height: 130%;
  background: rgba(242, 255, 255, .9);
}

.bar-chart[animated] .bar-chart--inner {
  -webkit-transition: width 1.3s;
  transition: width 1.3s;
}

.bar-chart.primary .bar-chart--inner {
  background: #FFCFC7;
}

.bar-chart.primary .bar-chart--inner-2 {
  background: #FFCFC7;
}

.bar-chart.primary .bar-chart--inner-3 {
  background: #E86951;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*** Middle Row ***/

.bottom {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.top-border {
	border-top: 1px solid;
	border-bottom: 1px solid;

}
.side-border {
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid; 
}

.underline {
	border-bottom: 1px solid;
}

.block-heights {
	height: 280px;
}

.winner {
	border-radius: 50%
}

.odds {
	margin-top: -30px;
}

